{{#if c_facilities}}
<div class="w-full inline-block relative mt-0 lg:mt-14 pb-10  bg-faci-bg  bg-repeat ">
    <div class="container-custom mt-10 mx-auto">
        <h2 class=" text-[42px] text-center pt-4 pb-12  uppercase text-text-blue-dark ">FACILITIES</h2>
        <div class=" flex  flex-wrap justify-center">
            {{#each c_facilities}}
            <div class=" w-full p-8 lg:px-2 xl:px-2 md:w-1/2 lg:w-1/4">
                <div class=" bg-white rounded shadow-lg w-full pt-12 pb-8 relative">
                   {{#if facilitiesIcon.url}} <div class=" absolute items-center flex justify-center left-1/2  shadow-lg -translate-x-1/2 -top-9 bg-white rounded-full p-4 w-[65px] h-[65px]"> <img src="{{facilitiesIcon.url}}" class="ml-0" width="26" alt="facilitiesimg" title="facilitiesimg"> </div>{{/if}}
                   {{#if facilitiesName}}<div class="w-full text-center py-1  text-blue-primary font-optimabold  text-lg  inline-block">{{facilitiesName}}</div>{{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}