<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha384-aDsT6uC2JwKN0TqIwhd5/Ij2S2IGb8fu5Bz9E9lFZMIJ5f5hTyXtjqB05EAA6DpPL" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<style>
  .slider {
    width: 100%;
    margin: 0 auto;
  }
  .slider div {
    text-align: center;
  }
  .slider img {
    max-width: 100%;
    height: auto;
  }
  .slick-slide {
    position: relative;
  }
  .card-hover {
    display: none;
  }
  .card-hover img {
    width: 24px;
    margin: 0 auto;
  }
  .slick-slide:hover .card-hover {
    text-align: center;
    display: block;
    padding: 16px;
    color: #fff;
    background-color: rgba(17, 94, 172, 0.87);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-hover span {
    font-size: 16px;
  }
  .card-hover .date {
    font-size: 12px;
  }
  .slick-arrow {
    position: absolute;
    transform: translate(-50%, 0);
    top: 50%;
    width: 30px;
    z-index: 999;
  }
  .slider-prev {
    left: 40px;
  }
  .slider-next {
    right: 18px;
  }
  .insta-thumb {
    margin: 8px !important;
    position: relative;
    display: block;
  }
  .insta-thumb:hover .insta-icon-left {
    display: none;
  }
  .insta-icon-left {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
</style>
<div class=" container-custom mx-auto relative">
  <button class="slider-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="arrow">
      <g fill="#fff">
        <path
          d="M32 55.9C18.8 55.9 8.1 45.2 8.1 32S18.8 8.1 32 8.1 55.9 18.8 55.9 32 45.2 55.9 32 55.9zm0-45.2c-11.7 0-21.3 9.6-21.3 21.3S20.3 53.3 32 53.3 53.3 43.7 53.3 32 43.7 10.7 32 10.7z">
        </path>
        <path d="M32.5 45.7 18.8 32l13.7-13.7 1.8 1.9L22.6 32l11.7 11.8-1.8 1.9"></path>
        <path d="M20.7 30.6h24v2.8h-24z"></path>
      </g>
    </svg></button>
  <div class="slider">
  </div>
  <button class="slider-next"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64"
      viewBox="0 0 64 64" id="arrow">
      <g transform="translate(28 328)">
        <path fill="#fff"
          d="M4-272.1c-13.2 0-23.9-10.7-23.9-23.9S-9.2-319.9 4-319.9s23.9 10.7 23.9 23.9S17.2-272.1 4-272.1zm0-45.2c-11.7 0-21.3 9.6-21.3 21.3s9.6 21.3 21.3 21.3 21.3-9.6 21.3-21.3-9.6-21.3-21.3-21.3z">
        </path>
        <path fill="#fff" d="m3.5-282.3-1.8-1.9L13.4-296 1.7-307.8l1.8-1.9L17.2-296 3.5-282.3"></path>
        <path fill="#fff" d="M15.3-294.6h-24v-2.8h24z"></path>
      </g>
    </svg>
  </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  const accessToken = 'IGQVJVRUdRUmhTUmI5cF9HNFhET0JKWGZAILVFWTUVfMkN6TnhZAc0pqMjRudzB4dUltSjIwa293Nl9DdHFSTmNYZAU5wZAy1aZA0dNNEE2YlRRX3RTQ1J5T004Uk0xTHJKNkhoNXBtNFg0Y21HN0EwRWY4SgZDZD';
  fetch(`https://graph.instagram.com/me/media?fields=id,media_type,media_url,permalink,thumbnail_url,timestamp&access_token=${accessToken}`)
    .then(response => response.json())
    .then(result => {
      if (!result.errors) {
        console.log(result.data, "entitiesentities");
        console.log(result.data.length, "length");
        var feed = result.data;
        var html1 = '';
        for (var i = 0; i < feed.length; i++) {
          var data = feed[i];
          html1 += '<div><a class="insta-thumb" href="' + data.permalink + '"><span class="insta-icon-left"><img src="images/instagram.png" alt="icon"></span><div class="card-hover"> <span><img src="images/instagram.png" alt="icon"></span>  <span class="date">09 Aug. 2023</span> <p>test</p> </div><img src="' + data.media_url + '" alt="' + data.id + '"></a></div>';
        }
        var slider = $('.slider');
        slider.html(html1);
        slider.slick({
          slidesToShow: 4,
          slidesToScroll: 1,
          arrows: true,
          infinite: true,
          prevArrow: '.slider-prev',
          nextArrow: '.slider-next',
        });
        $('.slider-prev').click(function () {
          slider.slick('slickPrev');
        });

        $('.slider-next').click(function () {
          slider.slick('slickNext');
        });
      } else {
      }
    });
</script>