<div class="relative order-1 lg:order-0 faq-sec-inner pr-0  lg:pr-20 xl:pr-6 pb-14  xl:pb-0">
   <h2 class=" text-optimabold hidden lg:block text-[42px] text-left pt-10 xl:pt-8 xl:pl-1 pb-4 uppercase text-text-blue-dark ">Our Instagram Gallery </h2>
</div>
<div id="instafeed"></div> 
<script type="text/javascript">
    	var userFeed = new Instafeed({
                accessToken: 'IGQVJWVWpmSE9sNXRvYVN3am5lSUhYQXFURzcxMWR4YkRGWTJ3S1A2VXUwWWczX0diZAHVOLXpkNE5uaEZAqQkp3Y2p6aUNnZAnVlQW5xTDNqaHdMeDg5S3d6WFoyQlpTOHV2UmdoSW5UU0k3aFMyMTdNVQZDZD',
         });
         userFeed.run(); 
   </script>